body {
    
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 960px;
}

/*p {
    margin: 0px 0px 0px 100px;
}*/

/*h4 {
    flood-color: rgb(49, 34, 77);
}*/

#input {
    /*margin: 0px 0px 0px 100px;*/
    /*margin-top: 8%;*/
    margin-left: 10%;
    
}

.activities {
    margin: 0px 0px 0px 100px;
    line-height: 20px;
}

.form-check {
    margin: 0px 0px 0px 200px;
    font-weight: bold;
}

b {
 font-size: 28px;

}

.jumbotron {
   
    margin-bottom: 0px;
    /* background-image: url(../img/jumbotronbackground.jpg); */
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(32, 100, 36);
    /* text-shadow: black 0.3em 0.3em 0.3em; */
    
}

 /*.logo {

   /*float: center;*/
 /*   margin-left: auto;
    margin-right: auto;
} */

.joePlaceHolder {
    float: center;
    height: 300px;
    width: 300px;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    opacity: 0.8;
    padding: 5px;
}

.campSitePlaceHolder{
 width: 100%;
 height: auto;
 opacity: 0.8;
 border: 1px solid black;
 background-color: white;
 margin: 10px;
 padding: 5px;
 text-align: center;

}

.resetButton{
    text-align: center;
    width: 100px;
    height: 50px;
    
}

.box { 

    /*float: right;*/
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    height: 90px;
    /*margin: 45px 0px 90px 430px;*/
    /*font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: strong;
    color: rgb(5, 4, 10);*/
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 5px;
    background-color: rgba(245, 245, 139, 0.3);
    border-color:#4b535e;

  } 